
.img-galleria{
	display: inline-block;
	width: 10em;
	height: 10em;
	margin: 1em 1em 0em 1em;
}
.kuvalinkki:link{
	text-decoration: none;
	color: black;
}
.kuvalinkki:visited{
	text-decoration: none;
	color: black;
}
.kuvalinkki:hover{
	text-decoration: none;
	color: black;
}
.kuvalinkki:active{
	text-decoration: none;
	color: black;
}
.kuvalinkki{
	display: inline-block;
	background-color: #D9D9D9;
	margin: 0.5em 0.5em 0.5em 0.5em;
}
/*
.Galleria-div{
	//background-color: #D9D9D9;
	align-item: center;
}*/
.Galleria-otsikko{
	padding: 0em 0em 1em 0em;
	margin: 0.5em 0em 1em 0.5em;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 200px;
}
.error{
	width: 10em;
	heigth: 10em;
}
/*
.Infotext{
	margin: auto;
    width: 50%;
    border: 2px solid #00BCD4;
	padding: 10px;
	text-align: center;
}*/